@import url('https://fonts.googleapis.com/css?family=Pacifico|Encode+Sans+Semi+Expanded');

body {
  background-image: linear-gradient(to bottom, #051937, #122f54, #1f4772, #2a6092, #347bb2);
  background-repeat: no-repeat;
  height: 100vh;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
